/* Your code here */
.wgs {
  display: inline-block;
  width: 335px;
  height: 186px;
  position: relative;
  overflow: clip;
}
.wgs__mole-head {
  position: absolute;
  left: 79px;
  width: 130px;
  height: auto;
  transition: margin-top 0.25s;
}
.wgs__dirt-pile {
  position: absolute;
  top: 90px;
  width: 300px;
  height: auto;
}
.wgs__mole-head--hidden {
  margin-top: 182px;
}
.pf {
  display: grid;
  grid-template-rows: 50% 50%;
  grid-template-columns: 25% 25% 25% 25%;
}
/* UNCOMMENT THE CODE BELOW WHEN DIRECTED */
.sb {
  background-color: cornflowerblue;
  border-bottom: 1px solid #645ded;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
  color: white;
  display: flex;
  font-size: 30px;
  margin-bottom: 50px;
  padding: 10px 20px;
}

.sb__mole-counter {
  flex: 1 0 0;
  text-align: right;
}

.sb__score-holder {
  flex: 1 0 0;
}

.sb__game-over--hidden {
  display: none;
}
.wgs__mole-head--whacked:active {
  border: 5px solid red;
}
